---

- Apps:
    - Cross-Seed:
        - icon: cross-seed.png
          href: https://www.cross-seed.org/
    - Checkrr:
        - icon: plex.svg
          href: https://github.com/aetaric/checkrr/
    - Cleanarr:
        - icon: plex.svg
          href: https://github.com/se1exin/Cleanarr/
    - Exportarr:
        - icon: prometheus.svg
          href: https://github.com/onedr0p/exportarr/
    - ImageMaid:
        - icon: plex-meta-manager.png
          href: https://github.com/Kometa-Team/ImageMaid/
    - Kometa:
        - icon: plex-meta-manager.png
          href: https://kometa.wiki/
    - Ofelia:
        - icon: docker.svg
          href: https://github.com/mcuadros/ofelia/
    - Plex-exporter:
        - icon: prometheus.svg
          href: https://github.com/axsuul/plex-media-server-exporter/
    - PlexTraktSync:
        - icon: trakt.svg
          href: https://github.com/Taxel/PlexTraktSync/
    - Portainer:
        - icon: portainer.svg
          href: https://www.portainer.io/
    - qBit-Manage:
        - icon: qbittorrent.svg
          href: https://github.com/StuffAnThings/qbit_manage/
    - qBitorrent-exporter:
        - icon: prometheus.svg
          href: https://github.com/esanchezm/prometheus-qbittorrent-exporter/
    - Recyclarr:
        - icon: trash-guides.png
          href: https://recyclarr.dev/
    - Tautulli:
        - icon: tautulli.svg
          href: https://tautulli.com/
    - Theme-Park:
        - icon: themepark.png
          href: https://theme-park.dev/
    - Trash-Guides:
        - icon: trash-guides.png
          href: https://trash-guides.info/
    - Unpackerr:
        - icon: penpot.svg
          href: https://github.com/Unpackerr/unpackerr/
    - Servarr:
        - icon: servarr.svg
          href: https://wiki.servarr.com/
    - Socket-Proxy:
        - icon: docker.svg
          href: https://github.com/Tecnativa/docker-socket-proxy/
    - Wrapperr:
        - icon: plex.svg
          href: https://github.com/aunefyren/wrapperr/

- Trackers:
    - FileList:
        - icon: prowlarr.svg
          href: https://filelist.io/
    - TorrentLeech:
        - icon: prowlarr.svg
          href: https://www.torrentleech.cc/
    - PrivateHD:
        - icon: prowlarr.svg
          href: https://privatehd.to/
    - TVChaosUK:
        - icon: prowlarr.svg
          href: https://tvchaosuk.com/
    - UHDBits:
        - icon: prowlarr.svg
          href: https://uhdbits.org/
    - ULCX:
        - icon: prowlarr.svg
          href: https://upload.cx/
    - Orpheus:
        - icon: prowlarr.svg
          href: https://orpheus.network/
    - ReelFlix:
        - icon: prowlarr.svg
          href: https://reelflix.xyz/
    - SportsCult:
        - icon: prowlarr.svg
          href: https://sportscult.org/
    - Milkie:
        - icon: prowlarr.svg
          href: https://milkie.cc/
    - LustHive:
        - icon: prowlarr.svg
          href: https://lusthive.org/
    - Kufirc:
        - icon: prowlarr.svg
          href: https://kufirc.com/
    - JPTV:
        - icon: prowlarr.svg
          href: https://jptv.club/
    - IPTorrents:
        - icon: prowlarr.svg
          href: https://iptorrents.me/
    - HD-Torrents:
        - icon: prowlarr.svg
          href: https://hd-torrents.org/
    - AlphaRatio:
        - icon: prowlarr.svg
          href: https://alpharatio.cc/
    - Anthelion:
        - icon: prowlarr.svg
          href: https://anthelion.me/
    - AvistaZ:
        - icon: prowlarr.svg
          href: https://avistaz.to/
    - Aither:
        - icon: prowlarr.svg
          href: https://aither.cc/
    - Cinemageddeon:
        - icon: prowlarr.svg
          href: https://cinemageddon.net/
    - CinemaZ:
        - icon: prowlarr.svg
          href: https://cinemaz.to/
    - DigitalCore:
        - icon: prowlarr.svg
          href: https://digitalcore.club/
    - BeyondHD:
        - icon: prowlarr.svg
          href: https://beyond-hd.me/
    - Back-Ups:
        - icon: prowlarr.svg
          href: https://back-ups.me/
    - ExoticaZ:
        - icon: prowlarr.svg
          href: https://exoticaz.to/
    - eStone:
        - icon: prowlarr.svg
          href: https://estone.cc/
    - Anime-Torrents:
        - icon: prowlarr.svg
          href: https://back-ups.me/