---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

title: Cyberdyne Systems

description: Putting the net in Skynet.

theme: dark
useEqualHeights: true

layout:
  arrs:
    style: row
    columns: 2
  Downloads:
    style: row
    columns: 2
  Media:
    style: row
    columns: 3
  Requests:
    style: row
    columns: 2
  IRC:
    style: row
    columns: 2
  Utilities:
    style: row
    columns: 2
  Metrics:
    style: row
    columns: 2
  Apps:
    style: row
    columns: 5
  Trackers:
    style: row
    columns: 5
providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey